i.icon {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  mask-repeat: no-repeat;
  vertical-align: middle;
  text-align: center;
  mask-size: 100%;
  mask-position: center center;
}

i.white {
  background-color: var(--white);
}

i.black {
  background-color: var(--black);
}

i.grey {
  background-color: var(--grey);
}

i.primary {
  background-color: var(--primary);
}

i.danger {
  background-color: var(--error)
}

i.green {
  background-color: var(--green);
}

i.liked {
  background-color: var(--liked);
}