.sideFeatures {
  width: 350px;
  padding: 0 20px;
}

.sideBarContent {
  padding: 0 16px;
  border: 1px solid var(--borderColour);
  border-radius: 1em;
  margin-bottom: 16px;
}

.heading {
  font-weight: var(--fontWeightBolder);
  padding: 12px 0;
}