.register {
  max-width: 440px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.buttonWrapper {
  margin-top: 80px;
}

.error {
  color: var(--error);
  font-size: var(--sFontSize);
  margin-top: 8px;
  margin-bottom: 8px;
}