:root {
  --grey: rgb(113, 118, 123);
  --white: #ffffff;
  --black: #1c1b1b;

  --borderColour: rgb(47, 51, 54);
  --background: rgb(0, 0, 0);
  --backgroundBlur: rgb(0 0 0 / 65%);
  --scrollbarColour: rgb(62, 65, 68) rgb(22, 24, 28);
  --greyBackground: rgb(51, 54, 57);

  --primary: rgb(29, 155, 240);
  --primary-alt: rgba(29, 156, 240, 0.105);
  --primary-light: rgba(29, 156, 240, 0.035);
  --secondary: rgb(29, 155, 240);
  --error: #FF3D71;
  --green: #00ba7c;
  --liked: #f91880;
  --green-alt: rgba(0, 186, 124, 0.083);
  --liked-alt: rgba(249, 24, 129, 0.083);

  --overlayColour: rgba(91, 112, 131, 0.4);
  --textColour: rgba(231, 233, 234, 1.00);
  --textColourGrey: rgb(113, 118, 123);
  --linkColour: var(--primary);
}