.post {
  border-top: 1px solid var(--borderColour);
  display: flex;
  padding: 12px 10px;
  position: relative;
}

.clickable {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clickable:hover {
  background-color: var(--primary-alt);
}

.post:first-child {
  border-top: none;
}

.dotsContain {
  position: absolute;
  top: 5px;
  right: 10px;
}

.postContainer {
  width: 100%;
}

.postHeader {
  position: relative;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.imageContainer img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.threadLine {
  width: 2px;
  height: 100%;
  background-color: rgb(96 116 135);
  margin: 0 auto;
  margin-top: 4px;
}

.postContainer {
  display: flex;
  flex-direction: column;
}

.postContent {
  white-space: pre-wrap;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.button {
  margin-right: 50px;
  margin-left: -9px;
  margin-top: 10px;
}

.buttonText {
  margin-left: 5px;
  font-size: var(--sFontSize);
  color: var(--textColourGrey);
}

.buttonText.primary {
  color: var(--primary);
}

.buttonText.liked {
  color: var(--liked);
}

.buttonText.green {
  color: var(--green);
}

.replyingTo {
  padding: 16px 0;
}

.greyText {
  color: var(--textColourGrey);
}

.deleteText {
  color: var(--error);
  margin-left: 10px;
}

.extras {
  transition: all 0.2s ease-in-out;
  padding: 12px 0;
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  max-width: 350px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
  z-index: 100;
  border-radius: 1em;
  background-color: var(--background);
}