.header {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  position: sticky;
  top: 0;
  background-color: var(--backgroundBlur);
  backdrop-filter: blur(12px);
  z-index: 10;
}

.headerTitle {
  display: flex;
  align-items: center;
}

.postTitle {
  margin-left: 25px;
}

.replyContainer {
  border-top: 1px solid var(--borderColour);
  border-bottom: 1px solid var(--borderColour);
  padding: 8px 0;
}
